header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  /* background-color: #ff000d; */
  color: #000000;
  background-color: #c2ba1b;
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");  
}