nav {
  display: flex;
  justify-content: space-between;
  background-color: #4056A1;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5em;
  height: 120px;
  background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}


i {
  flex-direction: column;
  color: red;
  
}