#tweet-text {
  padding-left: 10px;
  width: 100%;
  background-color: #f4f1ec;
  resize: none;
  outline: none;
  overflow: auto;
  text-size-adjust: 34px;
  border: none;
  border-bottom-style: solid;
}

.main {
  align-self: flex-end;
}

.new-tweet {
  display: flex;
  flex-direction: column;
}

.tweet-button {
  color: white;
  font-family: "bungee";
  align-items: flex-end;
  background-color: darkblue;
  border-radius: 5px;
}

article {
  padding: 12px;
  border: 3px black solid;
  margin-bottom: 25px;
  
}

.redChars {
  color: red;

}

.error {
  color: black;
  font-family: "bungee";
  border: 3px red solid;
  width: 365px;
  visibility: hidden;
  font-style: italic;
}

.count {
  padding-bottom: 10px;
  justify-content: space-between;
}

.counter {
  justify-content: space-between;
  float: right;
  font-weight: bolder;
  font-family: "Bungee";
}

.tweet-button:hover {
  background-color: #cf9b00;
}

article:hover {
  box-shadow: 6px 6px #cf9b00;
}

article:hover #composed-tweeter-icons i {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.tweet-bottom {
  font-family: "Bungee", cursive;
  margin-top: 1em;
  display: flex;
}
