article {
  padding: 12px;
  border: 3px black solid;
  margin-bottom: 25px;
}

article:hover {
  box-shadow: 6px 6px #cf9b00;
  border: 3px solid #000000;
  box-shadow: 10px 10px grey;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #cf9b00, 0 0 20px #cf9b00,
    0 0 25px #cf9b00, 0 0 30px #cf9b00, 0 0 35px #cf9b00;
}

.count {
  padding-bottom: 10px;
  justify-content: space-between;
}

.counter {
  justify-content: space-between;
  float: right;
  font-weight: bolder;
  font-family: "Bungee";
}

.error {
  color: black;
  font-family: "bungee";
  width: 375px;
  visibility: hidden;
  font-style: italic;
  border: 3px solid #000000;
  box-shadow: 10px 10px grey;
  box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 15px red, 0 0 20px red,
    0 0 25px red, 0 0 30px red, 0 0 35px red;
}

.main {
  align-self: flex-end;
}

.new-tweet {
  display: flex;
  flex-direction: column;
}

.redChars {
  color: red;

}

.tweet-button {
  color: white;
  font-family: "bungee";
  align-items: flex-end;
  background-color: darkblue;
  border-radius: 5px;
}

#tweet-text {
  padding-left: 10px;
  width: 100%;
  background-color: #f4f1ec;
  resize: none;
  outline: none;
  overflow: auto;
  text-size-adjust: 34px;
  border: none;
  border-bottom-style: solid;
}

.tweet-bottom {
  font-family: "Bungee", cursive;
  margin-top: 1em;
  display: flex;
}

.tweet-button:hover {
  background-color: #cf9b00;
  border: 3px solid #000000;
  box-shadow: 10px 10px grey;
  box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 15px #cf9b00, 0 0 20px #cf9b00,
    0 0 25px #cf9b00, 0 0 30px #cf9b00, 0 0 35px #cf9b00;
}

