.tweet-header {
  background-color: white;
  /* border: 3px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;

}
.tweet-user-profile {
  display: flex;
  align-items: center;
  height: auto;
}

.username {
  padding-left: 20px;
}

.submitted-tweet:hover .user-handle {
  color: #c2ba1b;
  display: inline-block;
}
.composed-tweet-message {
  border-bottom: 3px solid #545149;
  padding-bottom: 25px;
  margin-bottom: 0px;
}

.tweet-footer {
  
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  align-items: flex-start;
  padding-top: 5px;
}
.submitted-tweet {
  
}
.tweet-footer i {
  font-size: 15px;
}

.date-posted {
  margin-top: 0px;
  font-size: 18px;
}

.composed-tweeter-icons {
  display: flex;
  align-items: center;
}

.composed-tweeter-icons i {
  padding: 0 5px;
}
