.composed-tweet-message {
  border-bottom: 3px solid #545149;
  padding-bottom: 25px;
  margin-bottom: 0px;
}

.date-posted {
  margin-top: 0px;
  font-size: 18px;
}

.title {
  color: white;
}

.submitted-tweet:hover .user-handle {
  color: rgb(211, 139, 6);
  display: inline-block;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row;
}

.tweet-footer i {
  font-size: 15px;
  flex-direction: row;
}

.tweet-header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}

.tweet-user-profile {
  display: flex;
  align-items: center;
  height: auto;
}

.username {
  padding-left: 20px;
}

